<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>EmuDiscer</Name>
    <Version>1.0.0</Version>
    <Title>EmuDiscer offline setup</Title>
    <Publisher>LMauricius</Publisher>
    <ProductUrl>https://github.com/LMauricius/EmuDiscer</ProductUrl>
    <InstallerWindowIcon>EmuDiscer.ico</InstallerWindowIcon>
    <InstallerApplicationIcon>EmuDiscer.ico</InstallerApplicationIcon>
    <Logo>EmuDiscer.ico</Logo>
    <RunProgram>@TargetDir@/EmuDiscer.exe</RunProgram>
    <RunProgramArguments>
        <Argument>--open-settings</Argument>
    </RunProgramArguments>
    <RunProgramDescription>Launch EmuDiscer</RunProgramDescription>
    <StartMenuDir>Emulation</StartMenuDir>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <TargetDir>@ApplicationsDirUser@/EmuDiscer</TargetDir>
    <AdminTargetDir>@ApplicationsDirUser@/EmuDiscer</AdminTargetDir>
</Installer>